@font-face {
  font-family: "sans reg";
  src: url("/assets/fonts/PPNeueMontreal-Book.woff2") format("woff2");
}
@font-face {
  font-family: "sans med";
  src: url("/assets/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
}

:root {
  --body-px: 1.5rem;
  --body-font-size: 1rem;
  --section-padding: calc(var(--body-font-size) * 4) var(--body-px)
    calc(var(--body-font-size) * 4);
  --font-body: "sans reg";
  --font-hero: "sans med";
  --primary-curve: cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --secondary-curve: cubic-bezier(0.165, 0.84, 0.44, 1);
  --color-bg: rgb(244, 248, 248);
  --color-gradient: transparent, #e6eaec;
  --color-accent: #2c3233;
  --color-gray: #59595b;
  --color-light: #b6b3ae;
  --border-gray: 1px solid var(--color-gray);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: auto;
  overscroll-behavior: none;
  width: 100%;
}
body {
  font-family: var(--font-body);
  font-size: var(--body-font-size);
  background-color: var(--color-bg);
  color: black;
  height: 100%;
}
.page-container {
  position: relative;
}
.page-container::after {
  content: "";
  display: block;
  z-index: 1;
  pointer-events: none;
  position: fixed;
  min-height: -moz-available;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-image: url(/assets/images/noise.png);
  background-size: 50px;
}
header {
  position: fixed;
  top: -100%;
  z-index: 9;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem var(--body-px) 0;
  mix-blend-mode: difference;
  color: white;
  background-color: transparent;
  transition: top 0.5s var(--primary-curve);
}
header.active {
  top: 0;
}
ul {
  list-style: none;
}
a,
.menu-btn {
  cursor: pointer;
}
a {
  text-decoration: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  background: transparent;
}
nav {
  display: none;
}
nav li {
  display: inline;
  padding: 0;
  padding-left: 1rem;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h1 {
  font-size: calc(var(--body-font-size) * 6.4);
}
h2 {
  font-size: calc(var(--body-font-size) * 2.4);
  line-height: 1;
  text-transform: uppercase;
}
h3 {
  font-size: calc(var(--body-font-size) * 1.3);
}
h4 {
  font-size: calc(var(--body-font-size) * 0.9);
}
input:focus,
input:active {
  outline: none;
  background-color: transparent;
}
.blank {
  visibility: hidden;
}
.text-display {
  text-transform: uppercase;
}
.text-body {
  color: var(--color-gray);
}
.text-light {
  color: var(--color-light);
}
.text-white {
  color: white;
}
.underline-link {
  --strike: 0;
  --color: var(--text-color);
  background: linear-gradient(90deg, transparent, var(--color) 0) no-repeat
    right bottom / calc(var(--strike) * 100%) 0.1em;
  transition: background-size 0.7s var(--primary-curve), opacity 0.7s;
}
.underline-link:hover {
  --strike: 1;
  background-position-x: left;
}
.animated-link {
  font-family: "sans med";
  font-size: 90%;
  position: relative;
  padding: 0 var(--body-font-size) 3px 0;
  transition: transform 0.45s var(--primary-curve);
}
.animated-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.55s var(--primary-curve);
}
.animated-link::after {
  content: "↗";
  position: absolute;
  right: 2px;
  transition: transform 0.25s var(--secondary-curve);
}
.animated-link:hover {
  transform: scale(0.95);
}
.animated-link:hover:before {
  transform: scale(0);
}
.animated-link:hover:after {
  transform: translate(2px, -2px) scale(1.25);
  transition-delay: 0.15s;
}

/*=== cursor & to top button ===*/
.cursor {
  display: none;
}
.to-top {
  position: fixed;
  z-index: 100;
  opacity: 0;
  bottom: 5%;
  font-size: 90%;
  right: var(--body-px);
  mix-blend-mode: difference;
  color: white;
  transition: all 0.6s var(--secondary-curve);
}
.to-top.active {
  opacity: 0.45;
  visibility: visible;
}
.to-top.active:hover {
  opacity: 1;
  animation: bounce 0.4s infinite var(--primary-curve);
  animation-direction: alternate;
}
/*=== nav ===*/
.mobile-nav {
  overscroll-behavior: none;
  position: fixed;
  z-index: 10;
  text-align: left;
  right: -100vw;
  width: 100vw;
  height: -moz-available;
  height: fill-available;
  height: -webkit-fill-available;
  height: 100vh;
  padding-top: 15%;
  color: var(--color-bg);
  background-color: var(--color-bg);
  transition: all 0.4s var(--primary-curve), background-color 0.9s;
}
.mobile-nav.active {
  right: 0;
  background-color: var(--color-accent);
}
.menu-btn.close {
  position: absolute;
  top: 1rem;
  right: var(--body-px);
}
.mobile-nav li {
  padding: 1rem var(--body-px);
  overflow: hidden;
  font-size: 3rem;
  border-bottom: 1px solid var(--color-bg);
  transition-property: padding, letter-spacing, background-color;
  transition-duration: 0.6s, 0.6s, 0.3s;
  transition-timing-function: var(--primary-curve), var(--primary-curve),
    var(--secondary-curve);
}
.mobile-nav li:hover {
  padding: 1rem 2rem;
  background-color: var(--color-bg);
  color: black;
}
.mobile-nav.active li a {
  animation: slideUp 0.7s both;
  animation-delay: calc(0.2s * var(--i));
}
.mobile-nav li a {
  display: block;
}
.mobile-nav .link {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  text-align: right;
}
.mobile-nav .link a {
  --text-color: white;
}
/*=== main ===*/
section:not(#home) {
  padding: var(--section-padding);
}
#home {
  height: -moz-available;
  height: fill-available;
  height: -webkit-fill-available;
  height: 100vh;
  padding: 2rem var(--body-px) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, var(--color-gradient));
}
.hero {
  width: 100%;
  text-align: center;
  position: relative;
  max-width: 500px;
}
.name-wrapper {
  font-family: var(--font-hero);
  display: flex;
  flex-direction: column;
  gap: calc(var(--body-font-size) * 1.5);
  font-weight: bold;
}
.name-wrapper div {
  overflow: hidden;
}
.animated-text {
  opacity: 0;
}
.animated-text.active {
  animation: slideUp 1.5s var(--primary-curve) forwards;
  animation-delay: calc(0.6s * var(--i));
}
.name-wrapper div:nth-child(2) {
  width: 100%;
  padding-right: 20vw;
  min-width: fit-content;
}
.sub-wrapper {
  opacity: 0;
  width: max-content;
  position: absolute;
  right: 0;
  top: 42%;
  transition: opacity 1.8s var(--secondary-curve);
}
.sub-wrapper.active {
  opacity: 1;
  transition-delay: 2.6s;
}
.section-title {
  padding: 0.5rem 0;
  border-top: var(--border-gray);
}
.title {
  font-size: 90%;
  font-family: "sans med";
}
.fade-in-text {
  font-family: "sans med";
  opacity: 0;
  transition: opacity 3s var(--primary-curve);
}
.fade-in-text.active {
  opacity: 1;
  transition-delay: calc(0.8s * var(--i));
}
.entry {
  transition: opacity 2s var(--primary-curve), padding 0.86s;
  padding-top: 3rem;
  opacity: 0;
}
.entry.active {
  opacity: 1;
  padding-top: 0;
}
.main-text,
.sub-text {
  padding: calc(var(--body-font-size) * 2) 0 calc(var(--body-font-size) * 3) 15%;
}
.main-text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--body-font-size) * 2);
}
.main-text a {
  font-family: "sans med";
  --text-color: black;
  color: black;
}
#about {
  background-image: linear-gradient(to top, var(--color-gradient));
}
#about .sub-text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--body-font-size) * 2.5);
}
#about .title {
  padding-bottom: calc(var(--body-font-size) * 1);
}
.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: auto;
}
.project-item {
  padding: var(--body-font-size) 0;
  border-top: var(--border-gray);
  opacity: 0;
  margin-top: calc(var(--body-font-size) * 10);
  transition: background-color 0.5s var(--secondary-curve),
    opacity 1.8s var(--secondary-curve), margin-top 1.8s var(--secondary-curve);
}
.project-item.active {
  opacity: 1;
  margin-top: 0;
}
.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.project-title span {
  font-size: 130%;
  cursor: pointer;
}
.project-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: padding 0.75s var(--secondary-curve),
    max-height 1.6s var(--secondary-curve);
}
.project-content-wrapper.open {
  padding: var(--body-font-size) 0;
  max-height: 800px;
  transition: max-height 2.5s var(--secondary-curve);
}
.project-video-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.project-video {
  width: 100%;
  height: 100%;
}
.project-video:hover + .video-overlay {
  display: none;
}
.video-overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 86, 86, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
}
.project-detail {
  padding-top: calc(var(--body-font-size) * 1.5);
  display: flex;
  flex-direction: column;
  gap: calc(var(--body-font-size) * 1.5);
}
.detail-grid {
  display: grid;
  grid-template-columns: 35% 62%;
  column-gap: 3%;
}
.tech-stack-wrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.tech-item {
  font-size: 90%;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--color-accent);
  border-radius: 15px;
}
.tech-item.sub {
  background-color: transparent;
}
.tech-item.main {
  background-color: var(--color-accent);
  color: white;
}
.project-link-wrapper {
  display: flex;
  justify-content: space-between;
}
.project-content-wrapper .note {
  font-size: 90%;
}
footer {
  display: block;
  overflow: hidden;
  background-color: var(--color-accent);
  min-height: -moz-available;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  min-height: 100vh;
}
#contact {
  position: relative;
  padding-top: var(--body-font-size);

}
#contact .underline-link {
  --color: white;
}
.marquee {
  width: 100%;
  overflow: hidden;
}
.marqueeText {
  display: inline-flex;
  --span-count: 3;
}
.marqueeText span {
  padding-right: 10px;
}
.contact-wrapper {
  padding: 0 var(--body-px);
  padding-top: 15vh;
}
.contact-text {
  padding-bottom: calc(var(--body-font-size) * 4);
  border-bottom: var(--border-gray);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-text h2 {
  font-size: calc((var(--body-font-size) * 3));
}
.contact-link {
  padding-top: calc(var(--body-font-size) * 4);
  display: flex;
  flex-direction: column;
  gap: var(--body-font-size);
}
.contact-link-wrapper {
  display: grid;
  grid-template-columns: 50% 45%;
  gap: 5%;
}
.footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--body-font-size) * 0.5);
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 690px) {
  :root {
    --body-px: 3rem;
    --body-font-size: 1.15rem;
  }
  h4 {
    font-size: var(--body-font-size);
  }
  .cursor {
    display: block;
    opacity: 1;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    mix-blend-mode: difference;
    background-color: white;
    transition: 350ms all var(--secondary-curve);
    pointer-events: none;
    will-change: transform;
  }
  .cursor.disabled {
    opacity: 0;
    visibility: hidden;
  }
  .menu-btn,
  .mobile-nav {
    display: none;
  }
  header {
    padding: calc(var(--body-px) * 0.5) var(--body-px) 0;
  }
  nav {
    display: flex;
  }
  .hero {
    max-width: 580px;
  }
  .sub-wrapper {
    width: max-content;
    left: calc(50% - var(--body-px));
  }
  .section-title {
    border: none;
    padding: 0;
  }
  .main-text {
    padding-left: 0;
    padding-top: 0;
  }
  #about {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  #about .text-container {
    padding: 0 0 calc(var(--body-font-size) * 4);
  }
  #about .main-text {
    border-bottom: none;
  }
  #about .title {
    font-weight: bold;
  }
  .project-text {
    padding: 0;
    margin: 0;
  }
  #project .title-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  #project .project-container {
    padding: 0;
    margin-left: 10%;
  }
  .project-list-wrapper {
    border-bottom: var(--border-gray);
  }
  .detail-grid {
    grid-template-columns: 30% 67%;
  }
}
@media (min-width: 992px) {
  :root {
    --size: 1290;
    --body-px: 9rem;
    --body-font-size: 2rem;
  }
  body {
    font-size: var(--body-font-size);
  }
  html {
    font-size: calc(10 * (100vw / var(--size)));
  }
  h3 {
    font-size: 2.78rem;
  }
  h4 {
    font-size: calc(var(--body-font-size) * 1.1);
  }
  #about,
  #project .title-wrapper {
    grid-template-columns: 30% 42%;
  }
  #project .project-container {
    margin-left: 0;
  }
  .project-content-wrapper {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    justify-content: center;
    align-items: center;
  }
  .project-content-wrapper.open {
    margin-bottom: 4%;
  }
  .project-detail {
    padding-top: 0;
  }
  .project-video-container {
    order: 1;
  }
  .project-link-wrapper {
    margin-left: 33%;
    justify-content: start;
    gap: 10%;
  }
  .contact-container {
    grid-template-columns: 30% 42%;
    justify-content: flex-start;
    gap: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}
