@font-face {
  font-family: "sans reg";
  src: url(/assets/fonts/NeueMontreal-Regular.otf) format("opentype");
}
@font-face {
  font-family: "sans med";
  src: url(/assets/fonts/NeueMontreal-Medium.otf) format("opentype");
}
@font-face {
  font-family: "sans bold";
  src: url(/assets/fonts/NeueMontreal-Bold.otf) format("opentype");
}
@font-face {
  font-family: "disp";
  src: url(/assets/fonts/NON-Natural-Grotesk-Medium.woff2) format("woff2");
}

:root {
  --body-px: 1rem;
  --font-body: "sans reg";
  --font-hero: "sans bold";
  --primary-curve: cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --secondary-curve: cubic-bezier(0.165, 0.84, 0.44, 1);
  --color-bg: #EDF0ED;
  --color-gray: #616564;
  --border-gray: 1px solid var(--color-gray);
}

*,*::after,*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
html, body {
  height: auto;
  overscroll-behavior: none;
  width: 100%;
}
body {
  font-family: var(--font-body);
  font-size: 1rem;
  background-color: var(--color-bg);
  color: black;
  height: 100%;
}
.page-container::after {
  content: "";
  display: block;
  z-index: 100;
  pointer-events: none;
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .4;
  background-image: url(/assets/images/noise.png);
  background-size: 50px;
}
header {
  position: fixed;
  top: -100%;
  z-index: 9;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem var(--body-px);
  /* border-bottom: 1px solid white; */
  mix-blend-mode: difference;
  color: white;
  background-color: transparent;
  transition: top .5s var(--primary-curve);
}
header.active {
  top: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a, .logo, .menu-btn {
  cursor: pointer;
}
button, input, a {
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  background: transparent;
}
nav {
  display: none;
}
nav li {
  display: inline;
  padding: 0 2rem;
}
h1, h2, h3 {
  font-weight: normal;
}
h1 {
  font-size: 6.4rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.3rem;
}
.blank {
  visibility: hidden;
}
.text-display {
  font-family: "disp";
  font-weight: lighter;
  text-transform: uppercase;
}
.text-body {
  color: var(--color-gray);
}
.animated-email {
  --strike: 0;
  background: linear-gradient(90deg, transparent, var(--text-color) 0) no-repeat
  right bottom / calc(var(--strike) * 100%) 0.1em;
  transition: background-size 0.7s var(--primary-curve), opacity .7s;
}
.animated-email:hover {
  --strike: 1;
  background-position-x: left;
}
.animated-link {
  font-size: 90%;
  position: relative;
  padding: 0 1rem 3px 0;
  transition: transform .45s var(--primary-curve);
}
.animated-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform .55s var(--primary-curve);
}
.animated-link::after {
  content: "↗";
  position: absolute;
  right: 2px;
  transition: transform .25s var(--secondary-curve);
}
.animated-link:hover {
  transform: scale(.95);
}
.animated-link:hover:before {
  transform: scale(0);
}
.animated-link:hover:after {
  transform: translate(2px, -2px) scale(1.25);
  transition-delay: .15s;
}

/*=== cursor & to top button ===*/
.cursor {
  opacity: 1;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  mix-blend-mode: difference;
  background-color: white;
  transition: 350ms all var(--secondary-curve);
  pointer-events: none;
  will-change: transform;
}
.cursor.disabled {
  opacity: 0;
  visibility: hidden;
}
.to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  bottom: 5%;
  font-size: 90%;
  right: var(--body-px);
  transition: all 0.6s var(--secondary-curve);
}
.to-top.active {
  opacity: .25;
  visibility: visible;
}
.to-top.active:hover {
  opacity: 1;
  animation: bounce 1s var(--secondary-curve);
  animation-iteration-count: 2;
}
/*=== nav ===*/
.mobile-nav {
  overscroll-behavior: none;
  position: fixed;
  z-index: 10;
  text-align: left;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  color: var(--color-bg);
  background-color: var(--color-bg);
  transition: all 0.4s var(--primary-curve), background-color 0.9s;
}
.mobile-nav.active {
  right: 0;
  background-color: var(--color-gray);
}
.menu-btn.close {
  position: absolute;
  top: 1rem;
  right: var(--body-px);
}
.mobile-nav li {
  padding: 1rem var(--body-px);
  overflow: hidden;
  font-size: 3rem;
  border-bottom: 1px solid var(--color-bg);
  transition-property: padding, letter-spacing, background-color;
  transition-duration: .6s, .6s, .3s;
  transition-timing-function: var(--primary-curve),var(--primary-curve),var(--secondary-curve);
}
.mobile-nav li:hover {
  padding: 1.5rem 2rem;
  background-color: var(--color-bg);
  color: black;
}
.mobile-nav.active li a{
  animation: slideUp .7s both;
  animation-delay: calc(.2s * var(--i));
}
.mobile-nav li a {
  display: block;
}
.mobile-nav .link {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  text-align: right;
}
.mobile-nav .link a {
  --text-color: white;
}
/*=== main ===*/
section:not(#home) {
  padding: 4rem var(--body-px) 4rem;
}
#home {
  height: 100vh;
  padding: 2rem var(--body-px) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
}
.hero {
  width: 100%;
  text-align: center;
  position: relative;
}
.name-wrapper {
  font-family: var(--font-hero);
  line-height: 2.5ch;
}
.name-wrapper div {
  overflow: hidden;
}
.animated-text {
  opacity: 0;
}
.animated-text.active {
  animation: slideUp 1.5s var(--primary-curve) forwards;
  animation-delay: calc(.3s * var(--i));
}
.name-wrapper div:nth-child(2) div{
  width: 60vw;
  max-width: 600px; 
  min-width: fit-content;
  margin-right: 30vw;
}
.sub-wrapper {
  opacity: 0;
  width: max-content;
  position: absolute;
  right: 0;
  top: 42%;
  transition: opacity 1.2s var(--secondary-curve);
  transition-delay: .4s;
}
.sub-wrapper.active {
  opacity: 1;
}
.section-title {
  padding: 1rem 0;
}
.title {
  font-size: 90%;
}
.entry {
  opacity: 0;
  transition: opacity 1.5s var(--primary-curve);
  transition-delay: calc(.4s * var(--i));
}
.entry.active {
  opacity: 1;
}
#about {
  background-color: white;
}
#about .text-container {
  padding: 2rem 0;
  border-top: var(--border-gray);
}
#about .main-text {
  text-transform: uppercase;
}
#about .sub-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#about .title {
  margin-bottom: 1rem;
}
.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: auto;
}
#project {
  background-color: var(--color-bg);
}
.project-list-wrapper {
  min-height: 100vh;
}
.project-item {
  padding: 1rem 0;
  border-top: var(--border-gray);
  transition: background-color .5s var(--secondary-curve);
}
.project-item.open {
  margin-top: 5rem;
}
.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.project-title span {
  font-size: 1.5rem;
  cursor: pointer;
}
.project-content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: padding .5s ease-in-out, max-height .75s var(--secondary-curve);
}
.project-content-wrapper.open {
  padding: 1rem 0;
  max-height: 800px;
}
.project-video-container {
  width: 100%;
  height: auto;
  display: flex;
  order: -1;
  position: relative;
  overflow: hidden;
}
.project-video {
  width: 100%;
  height: 100%;
}
.project-video:hover + .video-overlay {
  display: none;
}
.video-overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 86, 86, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,.9);
}
.detail-grid{
  display: grid;
  grid-template-columns: 35% 65%;
  padding-top: 1rem;
}
.detail-grid#project-link {
  grid-template-columns: 100%;
}
.tech-stack-wrapper {
  display: flex;
  gap: .5rem;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.tech-item {
  font-size: 90%;
  padding: .2rem .5rem;
  border: 1px solid var(--color-gray);
  border-radius: 15px;
}
.tech-item.sub {
  background-color: transparent;
}
.tech-item.main {
  background-color: var(--color-gray);
  color: white;
}
.project-link-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding-top: 1rem;
}
.project-content-wrapper .note {
  margin-top: 1rem;
}

@media(min-width: 992px) {
  :root {
    --size: 1440;
  }
  body {
    font-size: 2rem;
  }
  html {
    font-size: calc(10 * (100vw/var(--size)));
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0,20px,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0)
  }
}
@keyframes slideUp {
  0% {
  opacity: 0;
  transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}